* {
    box-sizing: border-box;
}

.main {
    overflow: hidden;
}

.big {
    position: relative;
    left: 4%;
    opacity: 85%;
    margin-top: -128px;
}

.test {
    min-width: 35vw;
}

.title {
    font-size: 50px;
    margin-top: 120px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.subTitle {
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.arrows {
    width: 60px;
    height: 72px;
    margin-left: 20px;
    margin-top: 60px;
}

.arrows path {
    stroke: black;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

    {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

.displayContainer1 {
    border-radius: 10px;
    margin-top: 250px;
    background-color: #5F2927;
    margin-bottom: 20px;
    margin-right: 10px;
}

.display-1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: 40px;
    text-align: left;
    margin-bottom: 60px;
    font-weight: bold;
}

.changeme {
    background-color: #fff;
}

.lead {
    font-family: 'Oswald', sans-serif;
    color: black;
    width: 75%;
    margin-left: 25px;
    text-align: center;
}

.style_hr {
    width: 800px;
}

.displayContainer2 {
    margin-top: 180px;
    text-align: center;
    margin-bottom: 50px;
}

.display2 {
    font-family: 'Oswald', sans-serif;
    position: relative;
    left: 23%;
}

.lead2 {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    left: 13%;
    width: 70%;
    margin-top: 20px;
}

#ll {
    margin-top: 180px;
    margin-bottom: 50px;
}

.imgText {
    margin-top: 50px;
    text-align: center;
    position: relative;
    left: 20%;
    color: #000000;
}

.imgT {
    margin-top: 30px;
    text-align: center;
    position: relative;
    left: 20%;
    color: #000000;
    font-size: 17px;
}

.Tmp {
    width: 30%;
    height: 30%;
    border-radius: 8px;
    margin: 10px;
}

.Tmp:hover {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    cursor: pointer;
}

.imageDisplay {
    margin-left: ;
    display: flex;
    justify-content: space-between;
}

.displayContainer3 {
    margin-left: -20px;
    margin-top: 100px;
}

.app {
    font-size: 70px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.subapp {
    font-size: 30px;
    margin-top: 55px;
    margin-left: 45px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}

.toolsDisplay {
    margin-left: -15px;
    margin-top: 30px;
}

.btnDummy {
    position: relative;
    left: 47%;
    margin-top: 20px;
    outline: none;
    border-radius: 10px;
}

#tools {
    color: white;
    background-color: #000000;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border: 1px solid black;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #636363;
    box-shadow: 5px 5px 15px 5px #636363;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.btnDummy2 {
    margin-top: 20px;
    width: 100px;
    border-radius: 8px;
    padding: 10px;
}

.instructions {
    margin-left: ;
    margin-top: 100px;
}

.style {
    background-color: #5F2927;
    border-radius: 10px;
    opacity: 80%;
    position: relative;
    left: 5%;
}

.titleInst {
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
    line-height: 60px;
    letter-spacing: 6px;
}

ol li {
    border-bottom: 3px solid #1A1A1A;
    color: #000;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}

.random {
    width: 400px;
    height: 500px;
    margin-top: 300px;
    margin-left: 50px;
}

#contact {
    border-radius: 10px;
    margin-top: 200px;
    color: black;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
}

.form-control {
    resize: none;
}

.form-row {
    margin-top: 20px;
}

.form-group {
    color: black;
    max-width: 75%;
    position: relative;
    left: 15%;
    font-size: 20px;
}

.chat {
    color: #000;
    text-align: left;
    margin-bottom: 50px;
    font-size: 30px;
}

.contact {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #000;
}

.btn_submit {
    margin-top: 20px;
    width: 100px;
    padding: 2px;
    border-radius: 5px;
    position: relative;
    left: 35%;
    border: none;
    background-color: #323233;
    color: #fff;
}

.our-team-main {
    margin-left: 50px;
    margin-bottom: 100px;
}

.text-center {
    margin-top: 80px;
    margin-bottom: 80px;
    color: black;
    position: relative;
    left: 31%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.2rem;
}

.our-team-main {
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 20%;
    transition: 0.5s;
    margin-bottom: 28px;
    background-color: #B5D0DB;
}

.our-team-main img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 90px;
}

.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team2 {
    margin-top: 60px;
}

.ni {
    color: #000;
    padding: 40px;
}

.home {
    border: 1px solid #B7D2DD;
    width: 100%;
}

.ni2 {
    background-color: #B7D2DD;
    padding: 40px;
    border-radius: 8px;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}