* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

Link {
    color: inherit;
    text-decoration: inherit;
}

.mainTemp {
    position: relative;
    right: 2%;
    min-width: 100vw;
}

#bcgTemp {
    position: relative;
    right: 2%;
    margin-top: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./Images/bcg-templates.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
}

.temp1 {
    margin-top: 250px;
}

.tempTitle {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #fff;
    width: 50vw;
}

.content_container {
    margin-top: 50px;
    margin-left: 20px;
}

.view_title {
    font-family: 'Oswald', sans-serif;
}

.browse_title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.space {
    margin-bottom: 40px;
}

.temp_container {
    margin-top: 70px;
}

.temp_image {
    display: block;
    width: 450px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.temp_image:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 19%;
    bottom: 0;
    left: 3%;
    right: 0;
    height: 300px;
    width: 450px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.temp_container:hover .overlay {
    opacity: 0.8;
}

.button {
    box-shadow: none;
    width: 100px;
    position: relative;
    left: 25%;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #f1f1f1;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.1);
}

.hr_style {
    width: 80%;
}

.card_text {
    margin-left: 5px;
    color: #000000;
}

.card_title {
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

/* FILTER CONTAINER STARTS*/

.filter_container {
    margin-top: 100px;
    margin-bottom: 200px;
}

.image_filter {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container_filter_name:hover .image_filter {
    opacity: 0.3;
}

.container_filter_name:hover .middle {
    opacity: 1;
}

.text_filter {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
}

/* FILTER CONTAINER ENDS */

/* Style the tab */

.tab {
    text-align: center;
    width: 25%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 100vh;
    box-shadow: none;
    float: left;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: ce;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
}

/* Change background color of buttons on hover */

.tab button:hover {
    border-bottom: 3px solid black;
    box-shadow: none;
}

.main-wrapper {
    margin-right: -10px;
    float: right;
    padding: 0px 12px;
    width: 75%;
    border-left: none;
    min-height: 100vh;

}

#photo {
    position: relative;
    left:25.7%;
    padding: 0px 12px;
    width: 75%;
    border-left: none;
    min-height: 100vh;
    
}