* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.footer {
    display: inline-block;
    margin-top: 100px;
    margin-left: -20px;
    background-color: #1A1A1A;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

.socialMedia {
    color: #fff;
    margin-left: 20px;
}

#sm {
    transition: transform .2s;
    background-color: #1A1A1A;
    color: #5F2927;
    padding: 10px;
    margin-left: 20px;
}

#sm:hover {
    transform: scale(1.2);
    color: #fff;
}

address {
    color: #fff;
    position: relative;
    left: 50%;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.copy {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color:#fff;
    text-align: center;
}