* {
    box-sizing: border-box;
}

body{
    margin:0px ;
    padding:0px;
}

.main {
    margin: 0;
    padding: 0;
}

#bcg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../style/Images/bcgNav.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: -20px;
    margin-top: -10px;
}

#titleDiv {
    margin-top: 230px;
    margin-left: -10px;
}

.title {
    display: block;
    margin: auto;
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.subTitle {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.arrows {
    width: 60px;
    height: 72px;
    position: relative;
    left: 45%;
    margin-top: -70px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

    {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

.displayContainer1 {
    margin-left: -20px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: #5F2927;
    margin-bottom: 20px;
    margin-right: 10px;
}

.display-1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 40px;
    text-align: center;
}

.lead {
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.displayContainer2 {
    margin-top: 150px;
}

.display2 {
    font-family: 'Oswald', sans-serif;
}

.lead2 {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

.Tmp {
    width: 30%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.Tmp:hover {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    cursor: pointer;
}

.imageDisplay {
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
}

.displayContainer3 {
    margin-left: -20px;
    margin-top: 100px;
}

.app {
    font-size: 70px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.subapp {
    font-size: 30px;
    margin-top: 35px;
    margin-left: 45px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}

.toolsDisplay {
    margin-left: -15px;
    margin-top: 30px;
}

.btnDummy {
    position: relative;
    left: 47%;
    margin-top: 20px;
    outline: none;
    border-radius: 10px;
}

#tools {
    color: white;
    background-color: #000000;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border: 1px solid black;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #636363;
    box-shadow: 5px 5px 15px 5px #636363;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.btnDummy2 {
    margin-top: 20px;
    width: 100px;
    border-radius: 8px;
    padding: 10px;
}


.instructions {
    margin-left: -20px;
    margin-top: 100px;
}

.style {
    background-color: #5F2927;
    border-radius: 10px;
}

.titleInst {
    margin-top: 70px;
    margin-left: 20px;
    font-size: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.list {
    color: #fff;
    background-color: #1A1A1A;
    position: relative;
    text-align: center;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#contact {
    border-radius: 10px;
    margin-left: -20px;
    margin-top: 100px;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: #1A1A1A;
}

form {}

.form-row {
    margin-top: 20px;
}

.form-group {
    max-width: 70%;
    position: relative;
    left: 15%;
    font-size: 20px;
}

textarea {
    resize: none;
}

.chat {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.contact {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.team {
    margin-left: -18px;
}

.text-center {
    color: black;
    position: relative;
    left: 30%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 100px;
    letter-spacing: 1.2rem;
}

.our-team-main {
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 30%;
    transition: 0.5s;
    margin-bottom: 28px;
}

.our-team-main img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 90px;
}

.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

/*our-team-main*/