
.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

#title {
  color: white;
  margin: 30%;
  display:flex;
  flex-direction: row;
}

 .form-horizontal{
  color: white;
  margin: 150px;

}


.form-label {
  color: white;
}
