body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../src/bkg2.jpg")!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
