body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../src/kybkg.jpg")!important;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover  !important;
  height: auto;


}
